src/main/mule/apicalling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e71cf75c-12e4-4119-979e-b3aa453f4e0a" basePath="/api" >
		<http:request-connection protocol="HTTPS" host="reqres.in" port="443" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config2" doc:name="HTTP Listener config" doc:id="0fc45a02-e5a4-44b7-b0d5-918a355d258c" basePath="/API" >
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="70797cf5-0dad-4113-a9e4-c0850a0b93bc" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="e429b1dd-df58-4122-8697-378dd67122c0" basePath="/api" >
		<http:request-connection protocol="HTTPS" host="reqres.in" port="443" />
	</http:request-config>
	<wsc:config name="Web_Service_Consumer_Config1" doc:name="Web Service Consumer Config" doc:id="9035c08c-7004-4a2b-b930-212d51790569" >
		<wsc:connection wsdlLocation="http://localhost:7803/PersonTestSoap?wsdl" service="PersonTestSoapHttpService" port="PersonTestSoapHttpPort" address="http://localhost:7803/PersonTestSoap" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="RestApiCalling" doc:id="c5ee42e6-894a-403c-b2d0-460271068084" >
		<http:listener doc:name="Listener" doc:id="11711d94-d74a-4414-a3fe-c7994bd5a8b8" config-ref="HTTP_Listener_config2" path="/Rest"/>
		<http:request method="GET" doc:name="Request" doc:id="efb86110-ef20-48c5-ade5-5d2e5e832293" config-ref="HTTP_Request_configuration" path="/users/2"/>
		<ee:transform doc:name="Transform Message" doc:id="d4e51a2a-ea52-4ce4-aa84-4ca3c19f3286" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Response:payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="SoapApiCalling" doc:id="6f49ac4f-05fb-4e3b-91e6-72f34787c2ac" >
		<http:listener doc:name="Listener" doc:id="77d0d3b2-ebdf-4298-8a10-c6f36317ed1d" config-ref="HTTP_Listener_config2" path="/Soap"/>
		<ee:transform doc:name="Transform Message" doc:id="07d530f1-6d60-438f-9845-a9928a962416" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: 15,
		ns0#intB: 90
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="5e62bec2-b78b-4ca5-be7d-38387481ebaf" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="a3100d16-4457-4366-ab91-7279babfdac3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://tempuri.org/

output application/json
---
{
	Response:	{		Result:payload.body.ns0#AddResponse.ns0#AddResult	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="ParseJsonArrayResponse" doc:id="bf85bd46-1dc5-443e-bf2a-5be0297d1d4c" >
		<http:listener doc:name="Listener" doc:id="7180d3ef-411c-4f0b-9f3f-18ab5c6e4585" config-ref="HTTP_Listener_config2" path="/JSON/Arrayparsing"/>
		<http:request method="GET" doc:name="Request" doc:id="eb233147-58fb-42fc-9cd6-b99840bff780" config-ref="HTTP_Request_configuration1" path="/users"/>
		<ee:transform doc:name="Transform Message" doc:id="dd9923aa-3023-459a-a6fa-ab97a22e0015" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Response:
	{
		//Result:payload.data[2]
		Result:payload.data
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="ParseXMLArrayResponse" doc:id="ec30bfd6-9d91-4dfc-9499-163224fb6c4d" >
		<http:listener doc:name="Listener" doc:id="92624aa9-417e-45aa-8662-89ea58af5d59" config-ref="HTTP_Listener_config2" path="/XML/Arrayparsing"/>
		<ee:transform doc:name="Transform Message" doc:id="4fa2b750-8e41-486a-aa76-2a48e9fdceb7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://PersonTestSoap
ns ns01 http:///PersonTestSoap/ServiceReqRes/PersonReqRes.xsd
---
{
	ns0#PersonDetails: {
		ns01#PersonRequest: {
			Name: null
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="de55d23d-2aaa-4dfc-92cc-1e85018ceb37" config-ref="Web_Service_Consumer_Config1" operation="PersonDetails"/>
		<ee:transform doc:name="Transform Message" doc:id="2affa271-c2c3-440e-9335-539f4e75df52" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0ns ns0 http://PersonTestSoap
ns ns1 http:///PersonTestSoap/ServiceReqRes/PersonReqRes.xsd

output application/xml
---
{
	Response:
	{
	 Results:payload.body.ns1#PersonResponse[2]		 // Results:payload.body.ns1#PersonResponse.Result	
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
